
a {
  text-decoration: none;
  color: #000;
}

a:hover {
  font-weight: bold;
}

html {
  max-width: 50rem;
  margin: 2rem auto;
  background: #eee;
  position: relative;
  padding: 1rem;
}

.home {
  font-weight: bold;
}

.current {
  background: #000;
  padding: 3px;
  color: white;
  font-weight: bold;
}

.posts ul {
  list-style-type: none;
  padding-left: 0;
}

.posts li {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.post-title {
  margin-bottom: -15px;
}

.info {
  color: #808080;
}
